/*
 SPDX-License-Identifier: AGPL-3.0-or-later
 */

body {
	text-align:center;
	font-family: 'PT Sans', sans-serif;
	background-color: #f8f8f8;
}

fieldset {
	text-align:left;
	overflow: hidden;	/* to make sure it's a BFC */
	margin-top: 1em;
	padding: 0 5% 1em 5%;
	border: none;
	display: inline-block;
	background-color:white;
	padding-top: 1em;
}

fieldset > legend {
	font-family: 'PT Serif Caption', serif;
	font-size: 125%;
	display:contents;
}


p.notes {
	font-family: 'PT Serif', serif;
}

a {
	color: black;
	text-decoration: none;
}

.unavailable {
	color: #ccc;
}

.error {
	color: red;
}

label {
	white-space: nowrap;
	display: block;
	margin: 0.25em;
	margin-left: 2em;
	text-indent: -2em;
}

.wrap {
	white-space: normal;
}

.hbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.hbox > * {
	flex-grow: 1;
}

.equalwidth > * {
	flex-basis: 0;
}

.vbox {
	display: flex;
	flex-flow: column wrap;
}

.columns {
	columns: 15em;
}

input {
	margin: 0.25em;
	border: 0;
	border-bottom: thin solid gray;
	border-radius: 0.2em;
	padding: 0 0.4em;
	font-size: 100%;  /* For fat thumbs on mobile */
}

input[type='radio'] {
	margin-right: 0.7em;
}

button#submit {
	background-color: #298400;
	color: white;
	padding: 0.25em 0.75em;
	font-size: 1.5em;
	font-weight: bold;
	border: 0;
	border-radius: 0.25em;
	width: 100%;
}

button#submit:hover {
	background-color: #3abc00;
	cursor: pointer;
}

button#submit:disabled {
	background-color: silver;
	cursor: pointer;
}

.resultbar {
	background-color:black;
	color:white;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}